{% extends 'layouts/front-layout.html.twig' %}

{% block content %}
    <h1>Formulaire article</h1>

    <!-- Macro pour le rendu d'un sous formulaire -->
    {% macro prototypeTag(element) %}
        <li class="col-md-3 btn btn-default">
            {{ form_widget(element) }}
            <button class='delete-tag btn btn-default'>supprimer<i class="glyphicon glyphicon-remove"></i></button>
        </li>
    {% endmacro %}
    <!-- Importation des macros dans une variable -->
    {% import _self as macro %}

    {{ form_start(articleForm) }}

    {{ form_errors(articleForm) }}

    {{ form_row(articleForm.title) }}
    {{ form_row(articleForm.lead) }}
    {{ form_row(articleForm.text) }}

    <div class="row">
        <fieldset>
            <legend>Tags</legend>
            <div class="form-group">
                <button class="btn btn-primary" id="addTag">Ajouter un tag</button>
            </div>

            <ul id="tagList" class="list-unstyled"
                data-prototype=
                "{{ macro.prototypeTag(articleForm.tags.vars.prototype) | escape()}}"
            >
                {% for tag in articleForm.tags %}
                    <li>
                        {{ macro.prototypeTag(tag) }}
                        {% do articleForm.tags.setRendered %}
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
    </div>


    <div class="row">
        <fieldset>
            <legend>Image</legend>
            <div class="col-md-6">
                {{ form_row(articleForm.image.legend) }}
                {{ form_row(articleForm.image.credit) }}
                {{ form_row(articleForm.image.uploadedFile) }}
            </div>
            <div class="col-md-6">
                {% set hasImage = (articleForm.image.vars.data.fileName is defined) %}

                {% if hasImage %}
                    {{ form_row(articleForm.image.toBeDeleted) }}
                    <img src="{{ asset('img/photos/' ~ articleForm.image.vars.data.fileName) }}"
                         class="article-medium-img">
                {% else %}
                    {% do articleForm.image.toBeDeleted.setRendered %}
                {% endif %}
            </div>
        </fieldset>
    </div>
    <div class="row">
        {{ form_rest(articleForm) }}
    </div>
    {{ form_end(articleForm) }}

{% endblock %}

{% block aside %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function () {

            //Gestion de la collection Telephones
            var $tagContainer = $('#tagList');
            //Récupération du prototype
            var prototype = $tagContainer.data('prototype');

            //Suppression d'une ligne
            $tagContainer.on('click', 'a.delete-tag', function (event) {
                //Annule l'action implicite du lien
                event.preventDefault();
                //Récupère le <li> parent du lien cliqué
                var $ligne = $(this).parent('li');
                //Supprime le <li>
                $ligne.remove();

            });

            //Ajout d'une ligne
            $('#addTag').on('click', function (event) {
            //$tagContainer.find('a.add-tag').on('click', function (event) {
                //Annule l'action implicite du lien
                event.preventDefault();
                /*
                 Récupération du nombre de lignes
                 Le comptage jQuery ne fonctionne pas
                 avec les éléments dynamiques
                 */
                var index = document.getElementById("tagList")
                                .children.length -1;

                //Affectation de l'index au gabarit
                var template = prototype
                        .replace(/__name__/g, index);

                //Ajout du gabarit au conteneur
                $tagContainer.append(template);
            });

        });
    </script>
{% endblock %}